body {
    margin: 0;
    padding: 0;
}
.project {
    vertical-align: middle;
}
.project-header {
    text-align: center;
    font-weight: bold;
    width: 100%;
    background: #8a8ab9;
    color: white;
    padding: 0.4rem;
}
.card-image {
    height: 2.0rem;
}
.inner-card {
    display: flex;
    /* flex: row; */
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}
.inner-card a {
    font-weight: bold;
}
.inner-card a:hover {
    text-decoration: none;
    cursor: pointer;
}
.about-me {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #8a8ab9;
    width: 100%;
    box-shadow: 3px 3px 3px 3px grey
}
.name {
    color: white;
}
.about-me-1 {
    font-weight: bold;
    font-size: 1.2rem;
}
.image-profile {
    border-radius: 50%;
    padding: 5rem;
    height: 25rem;
    width: 25rem;
}

@media (max-width: 589px) {
    .about-me {
        display: flex;
        flex-direction: column;
    }
}