body {
    margin: 0;
    padding: 0;
}
.nav-link {
    font-weight: bold;
}
.about-me {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #818194;
    width: 100%;
    box-shadow: 3px 3px 3px 3px grey
}
.about-me-1 {
    font-weight: bold;
    font-size: 1.2rem;
}

.project {
    vertical-align: middle;
}

.project-header {
    text-align: center;
    font-weight: bold;
    width: 100%;
    background: #818194;
    color: white;
    padding: 0.4rem;
}
.card-image {
    height: 2.0rem;
}
.inner-card {
    display: flex;
    /* flex: row; */
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}
.inner-card a {
    font-weight: bold;
}
.inner-card a:hover {
    text-decoration: none;
    cursor: pointer;
}

.name {
    color: aquamarine;
    font-weight: bold;
    font-size: 1.7rem;
}
.paragraph {
    font-size: 1.1rem;
    color: #fff;
}
h6 {
    font-size: 1rem;
    font-weight: bold;
    color: black;
}
.modal-buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.modal-title {
    width: 100%;
    font-weight: bold;
    color: white;
    padding: 0.5rem;
}
.image-profile {
    border-radius: 50%;
    padding: 5rem;
    height: 25rem;
    width: 25rem;
}
#skill {
    padding: 1.5rem;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
}
.contact-item {
    padding: 0.8rem;
}
@media (max-width: 730px) {
    .about-me {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 589px) {
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   
}