body {
    box-sizing: content-box;
    margin: 0;
    background-color: #8a8ab9;
}
.main-header {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    background-color: #8a8ab9;
    width: 100%; 
}
.main-header-image {
    display: flex;
    align-items: center;
    height: 2.5rem;
    margin-left: 1rem;
    
}
.image {
    height: 100%;
    border-radius: 50%;
    /* vertical-align: middle; */
}
.main-header-1 {
    display: flex;
    list-style-type: none;
    align-items: center;
    flex-direction: row;
}
li {
    
    margin: 0.8rem 0.8rem 0;

}
li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    /* display: flex;
    align-items: center; */
}
li :active,
li a:hover {
    border-bottom: 3px solid white;
    cursor: pointer;
    background-color: black;
    color: aquamarine;
}

main {
    padding-top: 3.5rem;
}
.about-me {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #8a8ab9;
    width: 100%;
    box-shadow: 3px 3px 3px 3px grey
}
.name {
    color: white;
}
.about-me-1 {
    font-weight: bold;
    font-size: 1.2rem;
}
.image-profile {
    border-radius: 50%;
    padding: 0.8rem;
    height: 25rem;
    width: 25rem;
}